
@{
    ViewData["Title"] = "Austin Moore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <img src="~/Images/AustinM.png" height="300" width="300" />
<h1>Austin Moore</h1>
<h3>Retired Marine and aspiring Software Developer. Loves bad dad jokes and leaving mics on during virtual meetings.</h3>
