
@{
    ViewData["Title"] = "Brandon Smith";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/Images/BrandonS.png" height="300" width="300"/>
<h1>Brandon Smith</h1>
<h3>Some random stuff about me</h3>
