
@{
    ViewData["Title"] = "Christopher Son";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <img src="~/Images/ChrisS.png" height="300" width="300" />
<h1>Christopher Son</h1>
<h3>Retired Marine and aspiring Software Developer. Loves bad dad jokes and leaving mics on during virtual meetings.</h3>