
@{
    ViewData["Title"] = "Christopher Son";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <img src="~/Images/ChrisS.png" height="300" width="300" />
<h1>Christopher Son</h1>
<h3>Some random stuff about me</h3>