
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/appsettings.json
