
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.assets.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.dgspec.json
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.g.props
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/project.assets.json
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/DesignTimeBuild/.dtbcache.v2
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/v16/.suo
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.assets.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.dgspec.json
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.g.props
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/project.assets.json
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/DesignTimeBuild/.dtbcache.v2
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/v16/.suo
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.csprojAssemblyReference.cache
