
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/appsettings.json
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.assets.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.dgspec.json
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.g.props
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/project.assets.json
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/DesignTimeBuild/.dtbcache.v2
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/v16/.suo
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.assets.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.dgspec.json
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.g.props
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/project.assets.json
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/DesignTimeBuild/.dtbcache.v2
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/v16/.suo
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.assets.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.dgspec.json
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.g.props
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/project.assets.json
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/project.nuget.cache
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.assets.cache
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc/obj/FootballCalc.csproj.nuget.dgspec.json
MVCRosterCalc_DONOTZIP/FootballCalc/obj/FootballCalc.csproj.nuget.g.props
MVCRosterCalc_DONOTZIP/FootballCalc/obj/project.assets.json
MVCRosterCalc_DONOTZIP/FootballCalc/obj/project.nuget.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.assets.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/Debug/netcoreapp3.1/FootballCalc.Test.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.dgspec.json
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/FootballCalc.Test.csproj.nuget.g.props
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/project.assets.json
MVCRosterCalc_DONOTZIP/FootballCalc.Test/obj/project.nuget.cache
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/config/applicationhost.config
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/DesignTimeBuild/.dtbcache.v2
MVCRosterCalc_DONOTZIP/FootballCalc/.vs/FootballCalc/v16/.suo
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/FootballCalc.dll
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/FootballCalc.exe
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/FootballCalc.pdb
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/FootballCalc.runtimeconfig.dev.json
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/FootballCalc.Views.dll
MVCRosterCalc_DONOTZIP/FootballCalc/bin/Debug/netcoreapp3.1/FootballCalc.Views.pdb
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.assets.cache
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.csproj.CoreCompileInputs.cache
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.csproj.FileListAbsolute.txt
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.csprojAssemblyReference.cache
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.dll
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.exe
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.pdb
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.Views.dll
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/FootballCalc.Views.pdb
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Account/Delete.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Account/Details.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Account/Edit.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Account/Index.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Account/Login.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Account/LoginFailed.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Account/LoginValidated.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Account/Register.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/AddPlayers/Create.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/AddPlayers/Delete.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/AddPlayers/Details.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/AddPlayers/Edit.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/AddPlayers/Index.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Developers/AJ.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Developers/Anthony.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Developers/Austin.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Developers/Brandon.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Developers/Christopher.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Home/List.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Home/Register.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Home/Welcome.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Players/Create.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Players/Delete.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Players/Details.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Players/Edit.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Players/Index.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_HomeLayout.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
MVCRosterCalc_DONOTZIP/FootballCalc/obj/FootballCalc.csproj.nuget.dgspec.json
MVCRosterCalc_DONOTZIP/FootballCalc/obj/FootballCalc.csproj.nuget.g.props
MVCRosterCalc_DONOTZIP/FootballCalc/obj/project.assets.json
MVCRosterCalc_DONOTZIP/FootballCalc/obj/project.nuget.cache
MVCRosterCalc_DONOTZIP/FootballCalc/Views/Developers/Austin.cshtml
MVCRosterCalc_DONOTZIP/FootballCalc/Views/Developers/Christopher.cshtml
