@{
    <title>@ViewData["Title"] - Fantasy Roster Calculator</title>
}
<div>
    @Html.ActionLink("Team Roster", "Index", "Players")
    <br />
    @Html.ActionLink("Add Player", "Index", "AddPlayers")
</div>


