
@{
    ViewData["Title"] = "LoginFailed";
}

<h1>Login Failed</h1>
<p>Your login has failed, please try again.</p>
<label for="UserName">User name:</label>
<br>
<input type="text" id="UserName" name="UserName">
<br>
<label for="PassWord">Password:</label>
<br>
<input type="text" id="PassWord" name="PassWord">
<br />

@*Need data validation*@
<input type="submit" value="Submit">
@*IF data validation is true*@
@*Go to login successful, redirecting to roster page*@
@*IF data validation is false*@
@*Login failed, please try again*@

<btn class="nav-item">
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Register">Register</a>
</btn>

