@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>

<p>Please enter your information. Whenever you are done, please press submit.</p>

<form>
    <label for="UserName">User name:</label><br>
    <input type="text" id="UserName" name="UserName"><br>
    <label for="PassWord">Password:</label><br>
    <input type="text" id="PassWord" name="PassWord"><br />
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br />
    <label for="dateofBirth">Date of Birth:</label><br>
    <input type="text" id="dateofBirth" name="dateofBirth"><br>
    <label for="Email">Email:</label><br>
    <input type="text" id="Email" name="Email"><br />
</form>